################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp/bin/Debug/netstandard2.0
