################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp/bin/Debug/netstandard2.0
/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp/obj
/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp.Android/bin/Debug
/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp.Android/obj
/SmartChoiceApp/SmartChoiceApp/SmartChoiceApp.Android/Resources/Resource.designer.cs
*.user
/SmartChoiceApp/.vs/SmartChoiceApp/v15
